@inherits Umbraco.Web.Mvc.UmbracoViewPage<Umbraco.Web.PublishedModels.Content>
	@{
	Layout = "Master.cshtml";
	}

@Html.Partial("~/Views/Partials/header.cshtml")

	<!-- Main Content-->
	<div class="container px-4 px-lg-5">
		<div class="row gx-4 gx-lg-5 justify-content-center">
			<div class="col-md-10 col-lg-8 col-xl-7">
				<div class="">
					@Html.GetGridHtml(Model, "mainContent")
				</div>
			</div>
		</div>
	</div>
